name: dbt-CI

on:
  push:
    branches: [main]
  schedule:
    - cron: "0 0 * * *"

jobs:
  dbt-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dbt + deps
        run: |
          pip install --upgrade pip
          pip install dbt-bigquery==1.7.5
          dbt --version
          dbt deps --profiles-dir .

      - name: Run dbt
        run: dbt run --profiles-dir . --threads 4

